html, body, #root { margin: 0; height: 100%; }
body { -webkit-font-smoothing: antialiased; }
.hidden { display: none; }
@media (min-width: 768px) {
  .md\:flex { display: flex !important; }
  .md\:hidden { display: none !important; }
}
